.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}

.loading {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
