fieldset {
  border: 0;
}

h4 {
  margin-bottom: 60px;
  margin-top: 60px;
}
.formWellbeing input[type="radio"] {
  display: none;
}

.groupQuestion input {
  display: flex;
  flex-direction: row;
}

label {
  margin-right: 60px;
}

.groupQuestion label {
  border: 1px solid #e71f67;
  border-radius: 50%;
  padding: 30px;
  color: #e71f67;
  font-weight: bold;
}
